<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="css_principal.css" rel="stylesheet" type="text/css">
   <link rel="icon" href="img/logo_restaurante.png" type="image/png">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Sistema de restaurante</title>
</head>
<div class="conteudo">
<body style="background-color: #f5f5f5;">
     <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height:100vh; position:fixed">
      <a href="admin.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="bi pe-none me-2" width="100" height="100" src="img/logo_restaurante.png" alt="logo">
        <span class="fs-4">Sistema de restaurante</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="reserva.html" class="nav-link text-white hover-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Controle de mesa
          </a>
        </li>
        <li>
          <a href="/cardapio/admin" class="nav-link text-white hover-link" class="texto">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Cardápio
          </a>
        </li>
        <li>
          <a href="pedido.html" class="nav-link text-white hover-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Pedido
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="/login/funcionario">Deslogar</a></li>
        </ul>
      </div>
    </div>
    <!---->
     <div class="conteiner">
     <div class="titulo" style="margin-top: 20px; margin-bottom: 15px;">
      <h1>Cardápio</h1>
      <a href="/adicionar/cardapio" style="margin-left: 45%;  position: fixed;"><button type="submit" class="btn btn-secondary">Adicionar</button></a>
     </div>
     <div class="tabela">
      <div class="tabela border">
      <table class="table table-striped mb-0" style="width: 750px;">
        <tr class="px-3">
          <th>Prato</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
        <tr>
         <td><a href="sobre_o_prato.html" style="text-decoration: none; color: #20272e;"></a></td> 
          <td>
            <form action="editar_cardapio.html" method="post" style="display: inline;">
              <button type="submit" class="btn btn-success">
                <i class="fas fa-edit"></i> Editar
              </button>
            </form>
          </td>
          <td><form action="/excluir_item/{{}}" method="post" style="display: inline;">
              <button type="submit" class="btn btn-danger">
                  <span><i class="fas fa-trash"></i></span>
                  <span id="excluir"> Excluir</span>
              </button>
          </form></td>
        </tr>
      </div>
      </table>
    </div>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
