<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{url_for('static', filename='css/css_principal.css')}}">
   <link rel="icon" href="{{url_for('static', filename='img/logo_restaurante.png')}}" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <title>Sistema de restaurante</title>
</head>

<body style="background-color:#044040;">
  <div class="menu">
    <nav class="navegacao">
      <a href="tela_inicial.html"><img src="img/logo_restaurante.png" class="logo"></a>
    </nav>
  </div>
  <div class="conteiner">
    <div class="cardapio"
      style="width: 50rem; margin-top: 5%; display: flex; text-align: center; flex-direction: column;">
      <div class="titulo" style="margin-top: 20px; margin-bottom: 15px;">
        <h1 style="color: #ffffff;">Cardápio</h1>
        <a href="pedido_cliente.html" style="margin-left: 35%; position: fixed;"><button type="submit" class="btn btn-light"
            style="font-weight: bold;">Meus pedidos</button></a>
      </div>
      <table class="table table-striped mb-0"
        style="border-radius: 10px; overflow: hidden; border-collapse: separate; border-spacing: 0;">
        <tr class="px-3">
          <th>Pedido</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Adicionar</th>
        </tr>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><a href="#ModalStatus" data-bs-toggle="modal" data-bs-target="#ModalStatus"
              style="text-decoration: none; color: #20272e;"></a></td>
          <td>
            <form action="#" method="post" style="display: inline;">
              <button type="submit" class="btn btn-success">
                <i class="fas fa-edit"></i>+</button>
            </form>
          </td>
        </tr>
      </table>
      <div class="modal fade" id="ModalStatus" tabindex="-1" aria-labelledby="ModalStatusLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalStatusLabel">Nome do prato</h1>
              <!--Aqui tem que aparecer o nome do prato-->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
              <div class="elementos_cardapio">
                <h4 style="font-size: 15px; text-align: justify; line-height: 1.5;">Pizza Margherita, uma clássica
                  combinação de molho de tomate artesanal, mussarela derretida e folhas frescas de manjericão.</h4>
                <img class="border rounded-circle" src="img/pizza.jpg" style="width:8rem;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
</body>

</html>
